<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('css/header.css') %>"
/>

<header>
  <div id="header-left">
    <a href="/">EMPLOYEE REVIEWER</a>
  </div>
  <div id="header-right">
    <ul>
      <% if(locals.user){ %>
      <li style="font-size: 1.2rem">
        <i class="fa-regular fa-circle-user"></i> <%= locals.user.name %>
      </li>
      <li><a href="/users/sign-out">Log Out</a></li>
      <% }else{ %>
      <li><a href="/users/sign-in">Log In</a></li>
      <li><a href="/users/sign-up">Register</a></li>
      <% } %>
    </ul>
  </div>
</header>
