<tr>
  <td style="text-align: center"><%= n %></td>
  <td style="text-align: center">
    <% for(let j = 0; j < review.stars; j++){ %> ★ <% } %>
  </td>
  <td><%= review.text %></td>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
</tr>
