<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('css/home.css') %>"
/>
<div id="home-container">
  <% if(!locals.user){ %>
  <h3>Please Sign in / Register to proceed!</h3>
  <% }else if(locals.user.type === 'admin'){ %>
  <h3>Employee Reviewer | Admin View</h3>
  <ul>
    <a href="/admin/add-employee-page"
      ><li class="add-employee">ADD EMPLOYEE</li></a
    >
    <a href="/admin/remove-employee-list?sort=name"
      ><li class="remove-employee">REMOVE EMPLOYEE</li></a
    >
    <a href="/admin/update-employee-list?sort=name"
      ><li class="update-employee">UPDATE EMPLOYEE</li></a
    >
    <a href="/admin/view-employees?sort=name"
      ><li class="view-employee">VIEW EMPLOYEES</li></a
    >
    <a href="/admin/add-review-list?sort=name"
      ><li class="add-review">ADD PERFORMANCE REVIEW</li></a
    >
    <a href="/admin/update-review-list?sort=-stars"
      ><li class="update-review">UPDATE PERFORMANCE REVIEW</li></a
    >
    <a href="/admin/view-reviews?sort=-stars"
      ><li class="view-review">VIEW PERFORMANCE REVIEWS</li></a
    >
    <a href="/admin/assign-employee-list"
      ><li class="assign-employee">
        ASSIGN EMPLOYEE TO FEEDBACK OTHER EMPLOYEE
      </li></a
    >
  </ul>
  <% }else if(locals.user.type === 'employee'){ %>
  <h3>Employee Reviewer | Employee View</h3>
  <% } %>
</div>
