<link
  rel="stylesheet"
  type="text/css"
  href="<%= assetPath('css/authenticate.css') %>"
/>

<div id="authenticate-container">
  <h2>User Sign Up</h2>
  <form action="/users/create-user" method="POST">
    <label for="name">Name:</label> <br />
    <input id="name" type="text" name="name" placeholder="Enter name" />
    <br />
    <br />
    <label for="email">Email: </label> <br />
    <input id="email" type="email" name="email" placeholder="Enter email" />
    <br />
    <br />
    <label for="password">Password: </label> <br />
    <input
      id="password"
      type="password"
      name="password"
      placeholder="Type password"
    />
    <br />
    <br />
    <label for="confirm_password">Confirm Password: </label> <br />
    <input
      id="confirm_password"
      type="password"
      name="confirm_password"
      placeholder="Retype password"
    />
    <br />
    <br />
    <input id="admin-check" type="checkbox" name="admin" value="true" />
    <label for="admin-check">Make this account an admin account?</label>
    <br />
    <br />
    <input type="submit" value="Sign Up" />
  </form>
</div>
